/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

body {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
