/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

header {
  margin: 6rem 0;
  text-align: center;
}

body {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #414141;
  font-family: 'PT Serif', serif;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 6rem;
  margin: 0;
  line-height: 1;
}

.subtitle {
  font-size: 2.5rem;
  color: #707070;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
